:root {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #092E20;
}

#app {
  /* max-width: 1280px; */
  /* display: flex; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@media (max-width: 450px) {
  .hide-on-phone {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-on-tablet {
    display: none;
  }
}
